<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-start">
    <div class="container-fluid">
        <div class="navbar-header">

            <button class="navbar-toggle collapsed hamburger hamburger--spin-r js-hamburger" data-class="hamburger--spin-r"
                    type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-label="Menu" aria-controls="navigation">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>

            <a class="navbar-brand" du-smooth-scroll="header-content" href="#header-content">
                <div class="logo-icon"></div>
                <span class="logo-text">MotokáryTatry</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li du-scrollspy="news">
                    <a du-smooth-scroll="news" href="#news">{{category_1}}</a>
                </li>
                <li du-scrollspy="top-drivers">
                    <a du-smooth-scroll="category" href="#top-drivers">{{category_2}}</a>
                </li>
                <li du-scrollspy="video">
                    <a du-smooth-scroll="video" href="#video">{{category_3}}</a>
                </li>
                <li du-scrollspy="hours">
                    <a du-smooth-scroll="hours" href="#hours">{{category_4}}</a>
                </li>
                <li du-scrollspy="info2">
                    <a du-smooth-scroll="info2" href="#info2">{{category_5}}</a>
                </li>

                <li du-scrollspy="gallery">
                    <a du-smooth-scroll="gallery" href="#gallery">{{category_6}}</a>
                </li>

                <li du-scrollspy="prices">
                    <a du-smooth-scroll="prices" href="#prices">{{category_7}}</a>
                </li>

                <li du-scrollspy="map">
                    <a du-smooth-scroll="map" href="#map">{{category_8}}</a>
                </li>
                <li class="language-switch">
                    <a class="language" href="#/eng" ng-if="lang != 'eng'">ENG</a>
                    <a class="language" href="#/svk" ng-if="lang != 'svk'">SVK</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div id="header-content" class="header-content" ng-style="{height: displayHeight + 'px'}">
        <div class="header-content-inner">
            <div class="main-image">

                <div class="center-wrap">
                    <div class="top-content" ng-class="{ 'stick-it': subMenuState}">

                        <a href="tel:00421949388748" target="_self">
                            <span class="icon icon-phone"></span>
                            +421 949 388 748</a>

                        <a href="mailto:info&#64motokarytatry&#46sk" class="email" name="email-kontakt" target="_self">
                            <span class="icon icon-email"></span>
                            info@motokarytatry.sk
                        </a>
                    </div>
                    <div class="middle-content">
                        <h2 class="logo-text" ng-class="{'loaded': isLoaded}">MotokáryTatry</h2>
                        <h1 class="main-title" ng-class="{'loaded': isLoaded}"
                            ng-style="{'transform': 'translateX(-'+moveReady+'px)', '-webkit-transform': 'translateX(-'+moveReady+'px)', '-ms-transform': 'translateX(-'+moveReady+'px)'}">
                            {{mainTitle}}</h1>
                    </div>
                    <div class="bottom-content">
                        <a du-smooth-scroll="news" href="#news">
                            <span class="scroll-icon"></span>
                            <span class="scroll-label">READY!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="news" class="bg-highlight">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <span class="icon icon-news"></span>
                <h2 class="section-heading bold">{{category_1}}</h2>
                <hr class="light">
                <p>{{newsText}}</p>
            </div>
        </div>
    </div>
</section>

<section id="graphic" class="no-padding" ng-style="{height: mapHeight + 'px'}">
    <div class="highlight-image main-image4">
        <h5 class="highlight-title">{{recordTime}} s</h5>
        <h5 class="highlight-subtitle">Rekord</h5>
    </div>
</section>

<section id="top-drivers" class="no-padding">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <span class="icon icon-medal"></span>
                <h2 class="section-heading">{{category_2}} 2017</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3 class="section-heading text-center bold">{{actualMonth}}</h3>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{driverTime}}</th>
                        <th>{{driverName}}</th>
                    </tr>
                    </thead>
                    <tbody id="top-12">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3 class="section-heading text-center bold">Rok</h3>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{driverTime}}</th>
                        <th>{{driverName}}</th>
                    </tr>
                    </thead>
                    <tbody id="top-12-year">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<section id="video" class="no-padding">
    <iframe id="youtube" src="https://www.youtube.com/embed/Q1EVT_R4aBI" width="100%" height="315" ng-style="{height: videoHeight + 'px'}"  frameborder="0" allowfullscreen></iframe>
</section>

<section id="hours" class="no-padding">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="icon icon-time"></span>
                <h2 class="section-heading">{{category_4}}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3 class="bold clear-top">14:00 – 22:00</h3>
                    <h3>{{day7}} – {{day4}}</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3 class="bold">14:00 - 24:00</h3>
                    <h3>{{day5}} - {{day6}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="graphic3" class="no-padding" ng-style="{height: mapHeight + 'px'}">
    <div class="highlight-image main-image2">
        <h5 class="highlight-subtitle">Ready to be Faster?</h5>
    </div>
</section>

<section id="info2" class="bg-primary bg-road">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <span class="icon icon-info"></span>
                <h2 class="section-heading">{{motoTitle}}</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p>{{motoText1}}</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p>{{motoText2}}</p>
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="no-padding">

    <div class="gallery-small">

        <div class="row">
            <a href="/new/assets/imgs/gallery/img1.jpg" data-fancybox="group" data-caption="Foto #1">
                <img src="/new/assets/imgs/gallery/img1.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img2.jpg" data-fancybox="group" data-caption="Foto #2">
                <img src="/new/assets/imgs/gallery/img2.jpg" alt="" />
            </a>

        </div>
        <div class="row">
            <a href="/new/assets/imgs/gallery/img3.jpg" data-fancybox="group" data-caption="Foto #3">
                <img src="/new/assets/imgs/gallery/img3.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img4.jpg" data-fancybox="group" data-caption="Foto #4">
                <img src="/new/assets/imgs/gallery/img4.jpg" alt="" />
            </a>
        </div>
        <div class="row">
            <a href="/new/assets/imgs/gallery/img5.jpg" data-fancybox="group" data-caption="Foto #5">
                <img src="/new/assets/imgs/gallery/img5.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img6.jpg" data-fancybox="group" data-caption="Foto #6">
                <img src="/new/assets/imgs/gallery/img6.jpg" alt="" />
            </a>

        </div>
        <div class="row">
            <a href="/new/assets/imgs/gallery/img7.jpg" data-fancybox="group" data-caption="Foto #7">
                <img src="/new/assets/imgs/gallery/img7.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img8.jpg" data-fancybox="group" data-caption="Foto #8">
                <img src="/new/assets/imgs/gallery/img8.jpg" alt="" />
            </a>
        </div>
    </div>

    <div class="gallery-large">
        <div class="row">
            <a href="/new/assets/imgs/gallery/img1.jpg" data-fancybox="group" data-caption="Foto #1">
                <img src="/new/assets/imgs/gallery/img1.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img2.jpg" data-fancybox="group" data-caption="Foto #2">
                <img src="/new/assets/imgs/gallery/img2.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img3.jpg" data-fancybox="group" data-caption="Foto #3">
                <img src="/new/assets/imgs/gallery/img3.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img4.jpg" data-fancybox="group" data-caption="Foto #4">
                <img src="/new/assets/imgs/gallery/img4.jpg" alt="" />
            </a>
        </div>
        <div class="row">

            <a href="/new/assets/imgs/gallery/img5.jpg" data-fancybox="group" data-caption="Foto #5">
                <img src="/new/assets/imgs/gallery/img5.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img6.jpg" data-fancybox="group" data-caption="Foto #6">
                <img src="/new/assets/imgs/gallery/img6.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img7.jpg" data-fancybox="group" data-caption="Foto #7">
                <img src="/new/assets/imgs/gallery/img7.jpg" alt="" />
            </a>
            <a href="/new/assets/imgs/gallery/img8.jpg" data-fancybox="group" data-caption="Foto #8">
                <img src="/new/assets/imgs/gallery/img8.jpg" alt="" />
            </a>
        </div>
    </div>

</section>

<section id="prices" class="no-padding">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="icon icon-price-tag"></span>
                <h2 class="section-heading">{{category_7}}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{oneKart}}</th>
                        <th>6.5 HP</th>
                        <th>9 HP</th>
                    </tr>
                    </thead>
                    <tbody id="prices-table-1">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>6,5 HP</th>
                        <th>{{threeKart}}</th>
                        <th>{{fourKart}}</th>
                        <th>{{fiveKart}}</th>
                    </tr>
                    </thead>
                    <tbody id="prices-table-2">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <p>{{maskSell}}</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <p>{{maskRent}}</p>
            </div>
        </div>
    </div>
</section>

<section id="graphic2" class="no-padding" ng-style="{height: mapHeight + 'px'}">
    <div class="highlight-image main-image3">
        <h5 class="highlight-text">{{highlightText2}}</h5>
    </div>
</section>

<section id="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="icon icon-location"></span>
                <h2 class="section-heading">{{category_8}}</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p>
                    SNP 722/1A<br>
                    059 21 Svit<br>
                    GPS: 49.059385, 20.197023
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p>{{mapText}}</p>
            </div>

        </div>
        <div class="row">
            <div id="google-map" class="map" ng-style="{height: mapHeight + 'px'}">
                <div style="width:100%;max-width:100%;overflow:hidden;height:100%;color:red;">
                    <div id="gmap_display" style="height:100%; width:100%;max-width:100%;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10457.74810574147!2d20.1969226!3d49.059327!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1e4c8b2bb61b31af!2sMotok%C3%A1ry+Tatry!5e0!3m2!1ssk!2ssk!4v1489094085877"
                                style="height:100%;width:100%;border:0;" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="info3" class="bg-primary bg-road">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3>{{warningTitle}}</h3>
                <ul>
                    <!--<li>Každý návštevník je povinný pred použitím motokáry zoznámiť sa s týmito prevádzkovými a bezpečnostnými podmienkami. Prevzatím stroja od prevádzkovateľa (obsluhy) k jazde zákazník potvrdzuje, že sa s týmito podmienkami zoznámil a zaväzuje sa k ich dodržiavaniu.</li>-->
                    <!--<li>Nastupovanie do motokár a vystupovanie z motokár sa prevádza výhradne v priestoroch depa za pokynu personálu</li>-->
                    <!--<li>Výjazd z depa a príjazdy do depa riadi personál</li>-->
                    <!--<li>Pri vjazde do depa je povinnosť signalizácie (odbočenie) zdvihnutou rukou pri spomalenej jazde</li>-->
                    <!--<li>V prípade kolízie zákaz vystupovať z motokáry, môže dôjsť k ohrozeniu inou motokárou a následne k úrazu. Zdvihnutím ruky privoláte obslužný personál</li>-->
                    <!--<li>Pri jazde prísny zákaz akéhokoľvek kontaktu s inou motokárou</li>-->
                    <!--<li>Počas jazdy zákaz púšťania volantu a mávania rukami, prípadne nohami</li>-->
                    <!--<li>Prísny zákaz vstupu na dráhu</li>-->
                    <!--<li>Rešpektovať bezpečnostné a obslužné pokyny personálu</li>-->

                    <li>{{rulesText0}}</li>
                    <li>{{rulesText1}}</li>
                    <li>{{rulesText2}}</li>
                    <li>{{rulesText3}}</li>
                    <li>{{rulesText4}}</li>
                    <li>{{rulesText5}}</li>
                    <li>{{rulesText6}}</li>
                    <li>{{rulesText7}}</li>
                    <li>{{rulesText8}}</li>

                </ul>
            </div>

            <div class="col-lg-6 col-md-6">
                <h3>{{warningTitle}}</h3>
                <ul>
                    <!--<li>Jazda maloletých do 15 rokov len v sprievode rodičov (zákonných zástupcov)</li>-->
                    <!--<li>Pri jazde je povinnosť používať hygienickú kuklu (možnosť zakúpiť pri bare) a ochrannú helmu, ktorá musí byť zapnutá.</li>-->
                    <!--<li>Zákaz jazdenia v nad-rozmernom oblečení ( veľké vetrovky, košele, šále, dlhé vlasy)</li>-->
                    <!--<li>Pozor na horúci výfuk!!! (hlavne pri vystupovaní) - v prípade poškodenia odevu nezodpovedáme za vzniknuté škody</li>-->
                    <!--<li>Zákaz jazdy pri podozrení použitia alkoholu, hypnotizujúcich a omamných látok</li>-->
                    <!--<li>V priestoroch dráhy a depa zákaz fajčenia a vstupu s pohármi</li>-->
                    <!--<li>Doporučujeme vo vlastnom záujme odloženie kľúčov, mobilných telefónov a iných cenností, ktoré môžu vypadnúť z vreciek</li>-->
                    <!--<li>V prípade nedodržania prevádzkových a bezpečnostných pokynov prevádzkovateľ nezodpovedá za škody vzniknuté na zdraví a majetku.</li>-->


                    <li>{{rulesText9}}</li>
                    <li>{{rulesText10}}</li>
                    <li>{{rulesText11}}</li>
                    <li>{{rulesText12}}</li>
                    <li>{{rulesText13}}</li>
                    <li>{{rulesText14}}</li>
                    <li>{{rulesText15}}</li>
                    <li>{{rulesText16}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="bg-primary">
    <div class="container">
        <div class="">
            <div class="col-lg-4 col-md-4 text-center">
                <p>
                    © 2017 Motokary TATRY
                </p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <p>
                    <a href="tel:00421949388748" target="_self">+421 949 388 748</a>
                    <span>|</span>
                    <a href="mailto:info&#64motokarytatry&#46sk" class="email" name="email-kontakt" target="_self">
                        info@motokarytatry.sk
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <p>
                    Designed with
                    <span> ❤ </span>
                    by
                    <a href="mailto:gresrichard@gmail.com" class="email">RG</a>
                </p>
            </div>
        </div>
    </div>
</footer>
