<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-start">
    <div class="container-fluid">
        <div class="navbar-header">

            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
                    <!--data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>-->
            <!--</button>-->

            <button class="hamburger hamburger--spin-r navbar-toggle collapsed"
                    type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-label="Menu" aria-controls="navigation" aria-expanded="true/false">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>

            <a class="navbar-brand page-scroll" href="#header-content">
                <span class="logo-text">MotokáryTatry</span>
            </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li du-scrollspy="top-drivers">
                    <a du-smooth-scroll="category" href="#top-drivers">BEST</a>
                </li>
                <li du-scrollspy="news">
                    <a du-smooth-scroll="news" href="#news">NEWS</a>
                </li>
                <li du-scrollspy="hours">
                    <a du-smooth-scroll="hours" href="#hours">WHEN</a>
                </li>
                <li du-scrollspy="info2">
                    <a du-smooth-scroll="info2" href="#info2">HOW</a>
                </li>
                <li du-scrollspy="prices">
                    <a du-smooth-scroll="prices" href="#prices">PRICE</a>
                </li>
                <li du-scrollspy="map">
                    <a du-smooth-scroll="map" href="#map">WHERE</a>
                </li>
                <li>
                    <a class="language" href="#/eng" ng-if="lang != 'eng'">ENG</a>
                    <a class="language" href="#/svk" ng-if="lang != 'svk'">SVK</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div id="header-content" class="header-content" ng-style="{height: displayHeight + 'px'}">
        <div class="header-content-inner">
            <div class="main-image">

                <div class="center-wrap">
                    <div class="top-content">
                        <a href="tel:00421949388748" target="_self">+421 949 388 748</a>

                        <a href="mailto:info&#64motokarytatry&#46sk" class="email" name="email-kontakt" target="_self">
                        info@motokarytatry.sk
                        </a>
                    </div>
                    <div class="middle-content">
                        <h1 class="main-title">Motokáry Tatry</h1>
                    </div>
                    <div class="bottom-content">
                        <a href="#top-drivers"  class="scroll-down"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="top-drivers" class="no-padding">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">TOP DRIVERS</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3 class="section-heading text-center bold">March 2017</h3>
                <br>
                <table class="table table-bordered table-condensed">
                    <tbody id="top-12">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3 class="section-heading text-center bold">Total 2017</h3>
                <br>
                <table class="table table-bordered table-condensed">
                    <tbody id="top-12-year">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="news" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading bold">NEWS</h2>
                <hr class="light">
                <p>Rezervácie a informácie s tým spojené prijímame IBA TELEFONICKY na O2 čísle <b>0949 388 748</b> po 14.00 hod každý deň. Ak chcete jazdiť na zľavnený kupón, musíte ho doniesť vytlačený. My netlaćíme, a ani neakceptujeme fotky v mobile... Tešíme sa na Vašu návštevu, Motokary Tatry Team</p>
            </div>
        </div>
    </div>
</section>

<section id="video" class="no-padding">
    <iframe id="youtube" src="http://www.youtube.com/embed/?listType=user_uploads&list=R1cC1pp" width="100%" height="500px" frameBorder="0" allowfullscreen> </iframe>
</section>

<section id="hours" class="no-padding">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="icon icon-time"></span>
                <h2 class="section-heading">WHEN?</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3 class="bold">14:00 – 22:00</h3>
                    <h3>Pondelok – Štvrtok</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3 class="bold">14:00 - 00:00</h3>
                    <h3>Sobota - Piatok</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3 class="bold">14:00 – 22:00</h3>
                    <h3>Nedela</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="info2" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <span class="icon icon-race"></span>
                <h2 class="section-heading">DRáha a motokáry</h2>
                <hr class="light">
                <p>Dĺžka dráhy je 230 metrov pri šírke dráhy od 3,5 metra až do 5,5 metra. Na trati je možné dosiahnuť priemernú rýchlosť nad 30 km/h. Striedavé technické úseky s rovinkou Vám zaručene splnia Vaše očakávania. V našom motokárovom parku máme motokáry s motorom Honda GX 200 (s výkonom 6,5 HP) a Honda GX 270 (s výkonom 9 HP). Aby ste si mohli vychutnať pocit z jazdy na 9 koňovej motokáre, musíte splniť časový limit na 6,5 ke.</p>
            </div>
        </div>
    </div>
</section>

<!--<section id="photos" class="no-padding">-->
    <!--<div class="">-->
        <!--<div class="popup-gallery">-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6">-->
                <!--<a href="./assets/imgs/gokart.jpg" class="portfolio-box">-->
                    <!--<img src="./assets/imgs/gokart.jpg" class="img-responsive"  alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6">-->
                <!--<a href="./assets/imgs/gokart.jpg" class="portfolio-box">-->
                    <!--<img src="./assets/imgs/gokart.jpg" class="img-responsive" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6">-->
                <!--<a href="./assets/imgs/gokart.jpg" class="portfolio-box">-->
                    <!--<img src="./assets/imgs/gokart.jpg" class="img-responsive" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6">-->
                <!--<a href="./assets/imgs/gokart.jpg" class="portfolio-box">-->
                    <!--<img src="./assets/imgs/gokart.jpg" class="img-responsive" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6">-->
                <!--<a href="./assets/imgs/gokart.jpg" class="portfolio-box">-->
                    <!--<img src="./assets/imgs/gokart.jpg" class="img-responsive" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6">-->
                <!--<a href="./assets/imgs/gokart.jpg" class="portfolio-box">-->
                    <!--<img src="./assets/imgs/gokart.jpg" class="img-responsive" alt="">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<section id="graphic" class="no-padding" ng-style="{height: mapHeight + 'px'}">
    <div class="main-image" >

    </div>
</section>


<section id="prices" class="no-padding">
    <div class="race-flag"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PRICES</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>1 Kart</th>
                        <th>6.5 HP</th>
                        <th>9 HP</th>
                    </tr>
                    </thead>
                    <tbody id="prices-table-1">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>3 Kart</th>
                        <th>6.5 HP</th>
                        <th>9 HP</th>
                    </tr>
                    </thead>
                    <tbody id="prices-table-2">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>4 Kart</th>
                        <th>6.5 HP</th>
                    </tr>
                    </thead>
                    <tbody id="prices-table-3">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>5 Kart</th>
                        <th>6.5 HP</th>
                    </tr>
                    </thead>
                    <tbody id="prices-table-4">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>* Hygienická kukla predaj 2,00 &euro;</p>
            </div>
        </div>
    </div>

</section>

<section id="map">
    <div class="row">
        <div id="google-map" class="map" ng-style="{height: mapHeight + 'px'}">
            <div style="width:100%;max-width:100%;overflow:hidden;height:100%;color:red;">
                <div id="gmap_display" style="height:100%; width:100%;max-width:100%;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10457.74810574147!2d20.1969226!3d49.059327!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1e4c8b2bb61b31af!2sMotok%C3%A1ry+Tatry!5e0!3m2!1ssk!2ssk!4v1489094085877" style="height:100%;width:100%;border:0;" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>



<footer id="footer" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <p>
                    © 2017 Motokary TATRY
                </p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <p>
                    <a href="tel:00421949388748" target="_self">+421 949 388 748</a>
                    <a href="mailto:info&#64motokarytatry&#46sk" class="email" name="email-kontakt" target="_self">
                        info@motokarytatry.sk
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <p>
                    Designed with
                    <span> ❤ </span>
                    by
                    <a href="mailto:gresrichard@gmail.com" class="email">prRoGress</a>
                </p>
            </div>
        </div>
    </div>
</footer>
