//colors
$color_white: white;
$color_black: black;
$color_highlight-blue: #05d7fd;
$color_highlight-blue-light: rgba(5, 215, 253, 0.2);
$color_red: #ff0000;
$color_orange: #ffcc00;

$color_dark: #191919;
$color_dark_transparent: rgba(25,25,25,0.8);
$color_dark_transparent_more: rgba(25, 25, 25, 0.5);

$font_1: Helvetica Neue, Arial;

//urls
$url_0: url(../fonts/Montserrat/Montserrat-Light.ttf);
$url_3: url(../imgs/race-flag.png);
$url_4: url(../icons/icon-flags.svg);
$url_5: url(../imgs/motokary-tatry-logo.svg);
$url_6: url(../icons/icon-info.svg);
$url_7: url(../icons/icon-time.svg);
$url_8: url(../icons/icon-newspapers.svg);
$url_9: url(../icons/icon-medal.svg);
$url_10: url(../icons/icon-price-tag.svg);
$url_11: url(../icons/icon-location.svg);
$url_12: url(../icons/icon-email.svg);
$url_13: url(../icons/icon-phone.svg);
$url_14: url(../imgs/road-texture.jpg);

$url_image_1: url(../imgs/image-web-main.jpg);
$url_image_2: url(../imgs/image-web-gokarts.jpg);
$url_image_3: url(../imgs/image-web-helm.jpg);
$url_image_4: url(../imgs/image-web-helm2.jpg);

@font-face {
  font-family: 'Montserrat';
  src: $url_0 format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

//* Extra Small Screen *//
@media all and(min-width: 12em) {

  //* helper *//
  body:before {
    content: 'Extra Small Screen';
    display: block;
    position: fixed;
    left: 0; bottom: 0;
    color: red;
    z-index: 9999;

    /* after production */
    display: none;

  }
  body {
    background: $color_dark;
    font-family: 'Montserrat', $font_1;
    font-weight: normal;
  }
  header {
    z-index: 2;
  }
  section {
    background: $color_white;
    position: relative;
    padding: 0;
    z-index: 3;
  }
  footer {
    position: relative;
    padding: 0;
    z-index: 3;
    margin-bottom: 64px;
    p {
      font-family: 'Montserrat', $font_1;
      font-size: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      margin-bottom: 0;
    }
    > .container {
      padding: 0;
    }
  }
  h1,h2,h3,h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', Helvetica Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    line-height: 1.1;
    color: inherit;
    letter-spacing: 1px;
  }
  h1 {
    &.main-title {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      color: $color_white;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      letter-spacing: 0.2em;
      line-height: 1em;
      opacity: 0;

      &.loaded {
        opacity: 1;
        @include transition(all 1s ease-in);
        @include transition-delay(1s);
      }
    }
  }
  h2 {
    &.logo-text {
      font-size: 1.7em;
      color: $color_highlight-blue;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      @include transition(all 0.25 linear);
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5px;
      opacity: 0;

      &.loaded {
        @include transition(opacity 1s ease-in);
        opacity: 1;
      }

      &:after {
        content: '';
        display: inherit;
        position: relative;
        bottom: 0;
        height: 2px;
        background: $color_highlight-blue;
        width: 0;
        margin: 0 auto;
        left: -4px;
        top: 2px;
      }

      &.loaded {
        &:after {
          @include transition(width 1s ease-in);
          width: 80%;
        }
      }
    }
  }
  h3 {
    font-family: 'Montserrat', $font_1;
    font-weight: lighter;
    line-height: 1.1;
    color: inherit;
    letter-spacing: 1px;
    &.bold {
      font-weight: bold;
      margin-top: 1.5em;
      &.clear-top {
        margin-top: 0;
      }
    }
  }
  p {
    font-family: 'Montserrat', $font_1;
    font-weight: lighter;
  }
  span {
    font-family: 'Montserrat', $font_1;
    font-weight: lighter;
  }
  a {
    font-family: 'Montserrat', $font_1;
    font-weight: lighter;
    color: $color_highlight-blue;
    > span {
      &.logo-red {
        display: inline;
        position: relative;
        color: $color_red;
      }
      &.logo-orange {
        display: inline;
        position: relative;
        color: $color_orange;
        left: -5px;
      }
      &.logo-green {
        display: inline;
        position: relative;
        color: $color_highlight-blue;
        left: -10px;
      }
    }
  }
  .section-heading {
    text-transform: uppercase;
  }
  .table {
    th, tr {
      text-align: center;
      font-size: 1.3em;
    }
    thead {
      th, tr {
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }

  .header-content {
    overflow: hidden;
  }
  .header-content-inner {
    display: block;
    position: relative;
    height: 100%;
  }
  .main-image {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent $url_image_1 center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .main-image2 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent $url_image_3 center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .main-image3 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent $url_image_2 center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .main-image4 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent $url_image_4 center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .bg-primary {
    background: $color_dark;
  }
  .bg-highlight {
    background: $color_highlight-blue;
  }
  .race-flag {
    display: block;
    position: relative;
    height: 49px;
    width: 100%;
    background: transparent $url_3 center repeat;
    background-size: 125px;
  }
  .no-padding {
    padding: 0;
  }

  .content {
    background: $color_white;
  }
  .container {
    padding: 2em;
    z-index: 10;
    position: relative;
  }
  #map {
    padding: 0 15px;
  }
  .first-place {
    background-color: $color_highlight-blue-light !important;
  }
  .middle-content {
    position: relative;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .line {
    display: block;
    position: relative;
    margin: 0.5em 0;
    height: 1px;
    background: $color_white;
    width: 100%;
  }
  .navbar-nav {
    margin: 0 -15px;
    padding: 1em;
  }
  .navbar-default {
    display: block;
    background-color: $color_dark_transparent;
    @include transition(all 0.25 linear);
    border: 0;
    opacity: 1;
    margin-bottom: 0;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 3em 1px $color_dark_transparent;
    .navbar-nav {
      > li > a {
        color: $color_white;
        text-align: center;
        padding: 1em;
        @include transition(all 0.25 linear);
        text-align: center;
        padding: 1em;
        &:focus {
          background: $color_highlight-blue;
          @include transition(all 0.25 linear);
        }
        &:hover {
          background: $color_highlight-blue;
          @include transition(all 0.25 linear);
        }
        &.active {
          color: $color_black;
          background: $color_highlight-blue;
          background: $color_highlight-blue;
          @include transition(all 0.25 linear);
        }
      }
      > .active > a {
        color: $color_white;
        background: transparent;
        &:focus {
          color: $color_white;
          background: transparent;
        }
        &:hover {
          color: $color_white;
          background: transparent;
        }
      }
    }
    .navbar-brand {
      color: $color_white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      @include transition(all 0.25 linear);

      &:hover, &:focus {
        color: $color_highlight-blue;
        background-color: transparent;
        @include transition(all 0.25 linear);
      }
    }
    .navbar-collapse {
      border-color: transparent;
    }
    .navbar-form {
      border-color: transparent;
    }
    .navbar-toggle {
      border-color: transparent;
      background-color: transparent;
      padding-bottom: 0;
      padding-right: 20px;

      &:hover, &:focus {
        border-color: transparent;
        background-color: transparent;
      }
    }
  }
  .navbar-start {
    position: absolute;
    top: auto;
    bottom: -20px;
    display: none;
    opacity: 0;
    background-color: transparent;
    @include transition(all 0.25 linear);

    .navbar-brand {
      @include transition(all 0.25 linear);
    }
  }
  .navbar {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50px;
      display: block;
      background: transparent $url_3 center repeat;
      background-size: 125px;
      z-index: 1;
    }
    .container-fluid {
      position: relative;
      z-index: 10;
      background: $color_dark_transparent;
      padding: 0 0.5em 0 0.5em;
    }
  }
  .map {
    max-height: 440px;
  }
  .logo {
    height: 100px;
    width: auto;
    background: transparent $url_5 center no-repeat;
    background-size: cover;
    color: transparent;
    font-size: 0;
  }
  .center-wrap {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $color_dark_transparent_more;
  }
  .center-content {
    display: table-cell;
    position: relative;
    vertical-align: bottom;
    text-align: center;
    a {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: auto;
      width: 100%;
      color: $color_white;
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em 0;
      span {
        background: $color_black;
        padding: 30px 10px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        min-width: 100px;
        display: inline-block;
        @include transition(all 0.25 linear);
        border: 2px solid $color_black;

        &.red {
          color: $color_red;
          border-color: $color_red;
        }
        &.orange {
          color: $color_orange;
          border-color: $color_orange;
        }
        &.green {
          color: $color_highlight-blue;
          border-color: $color_highlight-blue;
        }
      }
      &:hover {
        text-decoration: none;
        span {
          border-color: $color_black;
          &.red {
            background: $color_red;
            color: $color_black;
          }
          &.orange {
            background: $color_orange;
            color: $color_black;
          }
          &.green {
            background: $color_highlight-blue;
            color: $color_black;
          }
        }
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .top-content {
    display: table;
    position: fixed;
    vertical-align: top;
    text-align: center;
    width: 100%;
    z-index: 9;
    table-layout: fixed;
    a {
      display: table-cell;
      position: relative;
      height: auto;
      color: $color_white;
      font-size: 1em;
      padding: 10px 0;
      width: 50%;
      transform: scale(1);
      @include transition(all 0.25 ease-out);

      &:hover, &:focus {
        text-decoration: none;
        transform: scale(1.2);
        @include transition(all 0.25 ease-in);
      }
    }
    &.stick-it {
      bottom: 0;
      top: auto;
      padding: 0.5em;
      z-index: 9;
      @include transition(all 0.25 linear);
    }
  }
  .bottom-content {
    display: block;
    position: absolute;
    bottom: 2em;
    text-align: center;
    width: 100%;
    left: 0;

    @-webkit-keyframes sdb {
      0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
    @-webkit-keyframes opa {
      0% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.2;
      }
    }
    @keyframes opa {
      0% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.2;
      }
    }

    a {
      display: inline-block;
      position: relative;
      color: $color_white;
      font-weight: bold;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      transform: scale(1);
      @include transition(all 0.25 linear);

      &:hover, &:focus {
        span.scroll-label {
          text-decoration: none;
          transform: scale(1.1);
          @include transition(all 0.25 linear);
        }
      }

      span.scroll-icon {
        position: absolute;
        top: -100px;
        left: 0;
        width: 50px;
        height: 50px;
        border-left: 9pt solid white;
        border-bottom: 9pt solid white;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb 1.5s infinite;
        animation: sdb 1.5s infinite;
        box-sizing: border-box;
      }
      span.scroll-label {
        font-size: 2.4em;
        position: absolute;
        left: -1em;
        transform: scale(1);
        @include transition(all 0.25 linear);
        -webkit-animation: opa 1.5s infinite;
        animation: opa 1.5s infinite;
      }
    }
  }
  .hamburger-box {
    height: 20px;
  }
  .hamburger-inner {
    background-color: $color_highlight-blue;

    &:after, &:before {
      background-color: $color_highlight-blue;
    }
  }

  .icon {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .icon-info {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: $url_6 no-repeat center;
    background-size: contain;
  }
  .icon-time {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: $url_7 no-repeat center;
    background-size: contain;
  }
  .icon-news {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: $url_8 no-repeat center;
    background-size: contain;
  }
  .icon-medal {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: $url_9 no-repeat center;
    background-size: contain;
  }
  .icon-price-tag {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: $url_10 no-repeat center;
    background-size: contain;

  }
  .icon-location {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: $url_11 no-repeat center;
    background-size: contain;
  }
  .icon-race {
    background: $url_4 no-repeat center;
    background-size: contain;
  }
  .icon-email {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
    background: $url_12 no-repeat center;
    background-size: contain;
    transform: scale(1.4);
  }
  .icon-phone {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
    background: $url_13 no-repeat center;
    background-size: contain;
  }
  .bg-road {
    display: block;
    position: relative;
    z-index: 2;
    background: $url_14 no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color_dark_transparent_more;
      z-index: 1;
    }
  }
  .menu > li {
    display: inline;
    + li:before {
      content: " ";
      padding-right: 0.3em;
    }
  }
  .navbar-brand .logo-icon {
    display: inline-block;
    background: $url_4 no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    top: -15px;
    position: relative;
    float: left;
    margin-right: 0.5em;
    //background: $color_highlight-blue;
    //mask: $url_4 center / contain no-repeat;
    //-webkit-mask: $url_4 center / contain no-repeat;

  }
  .nav li {
    a {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    &.active {
      border-top: 4px solid $color_highlight-blue;
      margin-bottom: -4px;
      > a {
        margin-top: -4px;
        color: $color_highlight-blue !important;
      }
    }
  }
  .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
  .row {
      p {
        font-size: 1.1em;
        line-height: 1.5em;
        text-align: justify;
        padding: 1em 0;
      }
    .text-center {
      p {
        text-align: center;
      }
    }
  }
  .stick-it a {
    line-height: 0;
    color: transparent;
    border: 1px solid $color_white;
    background: $color_dark_transparent;
    &:hover {
      line-height: 0;
      color: transparent;
      border: 1px solid $color_white;
      background: $color_dark_transparent;
    }
    &:focus {
      line-height: 0;
      color: transparent;
      border: 1px solid $color_white;
      background: $color_dark_transparent;
    }
    span {
      &.icon-phone {
        margin-bottom: 0;
      }
      &.icon-email {
        margin-bottom: 0;
      }
    }
  }

  .gallery-small {
    display: table;
    table-layout: fixed;
    overflow: hidden;
    a {
      display: table-cell;
      position: relative;
      width: 50%;
      overflow: hidden;

      img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }
  .gallery-medium {
    display: none;
  }
  .gallery-large {
    display: none;
  }

  .highlight-image {
    h5 {
      position: absolute;
      color: white;
      right: 0;
      padding: 0.5em;
      text-align: right;
    }
    h5.highlight-title {
      font-size: 6em;
      background: #05d7fd;
      line-height: 1em;
      padding: 0.2em 0.5em;
      top: 1em;
      color: black;
      text-shadow: none;
    }
    h5.highlight-subtitle {
      font-size: 4em;
      top: 2em;
      text-shadow: 0 0 2px black;
    }
    h5.highlight-text {
      font-size: 2.1em;
      top: 20%;
      line-height: 1.5em;
      text-shadow: 0 0 2px black;
    }
  }
}

//* Small Screen *//
@media all and(min-width: 24em) {
  //* helper *//
  body:before {
    content: 'Small Screen';
  }

  h1.main-title {
    font-size: 3.8em;
  }
  h2.logo-text {
    font-size: 2.2em;
  }
}
//* Medium Screen *//
@media all and(min-width: 46.8em) {
  //* helper *//
  body:before {
    content: 'Medium Screen';
  }
  .icon {
    width: 3em;
    height: 3em;
  }
  h1.main-title {
    font-size: 6.9em;
  }
  h2.logo-text {
    font-size: 4em;
  }
  .top-content a {
    font-size: 1.5em;
  }
  .navbar-default .navbar-toggle {
    display: none;
  }
  .navbar-nav {
    padding: 0 1em;
    margin: 0 auto;
    display: table;
    float: none !important;

    .language-switch {
      position: fixed;
      right: 0;
    }
  }
  .row p {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}
//* Large Screen *//
@media all and(min-width: 50em) {
  //* helper *//
  body:before {
    content: 'Large Screen';
  }
  .container {
    padding: 6em 0;
  }
  .navbar-header {
    float: none;
    margin: 0 auto !important;
    position: relative;
    display: table;
    text-align: center;
  }
  .top-content {
    margin-top: 2em;
    margin-right: 1em;

    &.stick-it {
      top: 55px;
      bottom: auto;
      z-index: 1030;
      display: block;
      left: 0;
      margin-top: 0;
      width: 100px;
      table-layout: fixed;
      padding-left: 1.5em;

      a {
        margin-top: auto;
        font-size: 0.8em;
        border: 0;
        padding: 0;
        background: transparent;
        width: 1em;
        max-width: 5em;
      }
    }
    .icon {
      width: 2em;
      height: 2em;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;
    }
  }

  .highlight-image {
    h5 {
      padding: 1em 0.5em;
    }
    h5.highlight-title {
      font-size: 5em;
    }
    h5.highlight-subtitle {
      font-size: 4em;
      top: 2.2em;
    }
    h5.highlight-text {
      top: 2em;
      font-size: 3em;
      line-height: 1.5em;
      padding: 2em;
    }
  }

  .gallery-large {

    display: table;
    table-layout: fixed;
    overflow: hidden;
    a {
      display: table-cell;
      position: relative;
      width: 25%;
      overflow: hidden;

      img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }
  .gallery-small {
    display: none;
  }

  footer {
    margin-bottom: 0;

    .container {
      padding: 1em;
    }
  }
  h2.logo-text {
    font-size: 5.5em;
  }
  h1.main-title {
    font-size: 6em;
  }
  .map {
    padding: 2em 0 0 0;
    margin-bottom: -2em;

    div {
      border: 1px solid $color_dark;
    }
  }
  h3.bold.clear-top {
    margin-top: 1.5em;
  }
}

//* Extra Large Screen *//
@media all and(min-width: 73em) {
  //* helper *//
  body:before {
    content: 'Extra Large Screen';
  }

  footer {
    .container {
      padding: 2em;
    }
  }
}